body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}


.lemon-explosion-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  font-size: 2rem;
}


.lemon-button-container {

  border: solid 6px yellow;
  border-radius: 20px;
  max-width: 500px;
  min-height: 150px;
  padding: 20px;
  text-align: center;
  margin: 20% ;

}


.lemon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(161, 237, 30);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin: 1rem;
}

.explosion-button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: yellow;
  color: black;
  cursor: pointer;

  &.explode {
    animation: explosion 0.7s forwards;
  }


  .lemon-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('lemon-icon.png');
    background-size: cover;

    &.icon-1 {
      top: 70%;
      left: -20%;
      animation: blow 2s infinite alternate 0.1s;
    }

    &.icon-2 {
      top: -40%;
      left: 60%;
      animation: blow 2s infinite alternate 0.3s;
    }

    &.icon-3 {
      top: 40%;
      left: 80%;
      animation: blow 2s infinite alternate 0.5s;
    }
    &.icon-4 {
      top: -30%;
      left: -10%;
      animation: blow 2s infinite alternate 0.01s;
    }
    &.icon-5 {
      top: 100%;
      left: 30%;
      animation: blow 2s infinite alternate 0.01s;
    }
    &.icon-6 {
      top: -40%;
      left: 20%;
      animation: blow 2s infinite alternate 0.01s;
    }
  }

  @keyframes explosion {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(6);
      opacity: 0;
    }
  }

  @keyframes blow {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}
